XEP-0412: XMPP Compliance Suites 2019

Please add support of https://xmpp.org/extensions/xep-0412.html

Which replace:
- XEP-0387: XMPP Compliance Suites 2018: https://xmpp.org/extensions/xep-0387.html
- XEP-0375: XMPP Compliance Suites 2016: https://xmpp.org/extensions/xep-0375.html
- XEP-0302: XMPP Compliance Suites 2012: https://xmpp.org/extensions/xep-0302.html
- XEP-0270: XMPP Compliance Suites 2010: https://xmpp.org/extensions/xep-0270.html
- XEP-0242: XMPP Compliance Suites 2009: https://xmpp.org/extensions/xep-0242.html


@rufferson:

RFC3920 -> RFC6120
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc3920.txt&url2=https://www.ietf.org/rfc/rfc6120.txt

RFC3921 -> RFC6121
- https://tools.ietf.org/tools/rfcdiff/rfcdiff.pyht?url1=https://www.ietf.org/rfc/rfc3921.txt&url2=https://www.ietf.org/rfc/rfc6121.txt

Draft but Very Important:
- https://tools.ietf.org/html/draft-cridland-xmpp-session-01